.bicicletas-container {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-container h1 {
  padding-bottom: 40px;
}

#bicicletas-listas {
  padding: 0px;
}

.bicicletas-listas {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.bicicletas-listas img {
  min-width: 280px;
}

.bicicletas-listas h2 {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.bicicletas-listas li span {
  margin-left: 20px;
}

.bicicletas-listas h2::before {
  content: "";
  background-color: var(--cor-p1);
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  transition: width 0.2s;
}

.bicicletas-listas a:hover h2::before {
  width: 25px;
}

@media (max-width: 800px) {
  .bicicletas-listas {
    gap: 20px;
  }
  .bicicletas-container {
    padding-bottom: 60px;
  }
}
