.depoimento-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  align-items: end;
}

.depoimento {
  padding: 49px 40px 80px 80px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.depoimento-container img {
  width: 100%;
  height: 530px;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento h1 {
  font: 900 2rem/1.2 "Merriweather", serif;
  margin-bottom: 30px;
  position: relative;
  max-width: 32ch;
}

.depoimento h1::before {
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -50px;
  content: "“";
  color: var(--cor-p2);
  font-size: 5rem;
}

.depoimento h1::after {
  display: inline-block;
  position: absolute;
  content: "”";
  color: var(--cor-p2);
  font-size: 5rem;
}

.depoimento > span {
  font: 600 1.1rem/1.33 "Poppins", serif;
}

@media (max-width: 800px) {
  .depoimento-container {
    grid-template-columns: 1fr;
  }
  .depoimento-container img {
    max-height: 200px;
  }
  .depoimento {
    padding: 40px 20px;
    margin: auto;
    text-align: center;
    align-items: center;
  }
  .depoimento h1 {
    font: 900 1.5rem/1.2 "Merriweather", serif;
  }
}
