.introducao-bg {
  background-color: #000000;
  color: var(--cor-c0);
  box-shadow: inset 0px -120px 0px var(--cor-c0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}

.introducao-conteudo {
  align-self: end;
  margin-bottom: 200px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 20px;
  color: var(--cor-c5);
}

.introducao-conteudo h1::after {
  content: ".";
  color: var(--cor-p1);
}

.introducao img {
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .introducao-conteudo h1 {
    margin-bottom: 16px;
  }
  .introducao {
    gap: 32px;
    grid-template-columns: 1fr;
  }

  .introducao-bg {
    padding-top: 40px;
    background-color: var(--cor-c11);
    box-shadow: inset 0 -60px var(--cor-c0);
  }

  .introducao-conteudo {
    margin-bottom: 0px;
  }

  .introducao img {
    width: 100%;
    height: 300px;
  }
}
