.perguntas {
  padding-top: 120px;
  padding-bottom: 120px;
}

.perguntas h1 {
  margin-bottom: 90px;
}

.perguntas-lista dl {
  padding: 20px 40px;
}

.perguntas-lista dl:nth-child(odd) {
  background-color: var(--cor-c2);
}

.perguntas-lista dt {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  cursor: pointer;
}

.perguntas-lista dt:hover::after {
  transform: rotateX(180deg);
}

.perguntas-lista dt::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--cor-p1);
}

.perguntas-lista dt::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  margin-right: 8px;
  background: url("../../img/icones/seta-abrir.svg");
  transition: transform 0.4s;
}

.perguntas-lista dd {
  max-width: 80ch;
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
